#sidebar-container{
    width: 15%;
    height: 100vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: baseline;
    position:fixed;
}

#sidebar-container ul{
    display: flex;
    flex-direction: column;
}

#sidebar-container li{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    width: 100%;
}

#sidebar-container ul li a{
    color: white;
    text-decoration: none;
    justify-content: flex-end;
}

